*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  /* color: light; */

  --light-bg-primary: aliceblue;
  --light-bg-secondary: beige;
  --light-color: color-mix(in lch, darkslategray, black);
  --light-button-color: aliceblue;
  --light-button-bg: royalblue;

  --dark-bg-primary: #000;
  --dark-bg-secondary: #111;
  --dark-color: aliceblue;
  --dark-button-color: azure;
  --dark-button-bg: royalblue;
}

@media (prefers-color-scheme: light) {
  * {
    --bg-primary: var(--light-bg-primary);
    --bg-secondary: var(--light-bg-secondary);
    color: var(--light-color);
    --button-color: var(--light-button-color);
    --button-bg: var(--light-button-bg);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);
    color: var(--dark-color);
    --button-color: var(--dark-button-color);
    --button-bg: var(--dark-button-bg);
  }
}

html {
  background: linear-gradient(180deg, var(--bg-primary), var(--bg-secondary));
  background-size: contain;
  min-height: 100vh;
}

body {
  line-height: 1.5;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

section {
  margin-top: 1em;
}

p {
  margin-top: 1em;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 0 50px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  font-weight: 800;
  font-size: 1.2rem;
}

h3 {
  margin-bottom: 0.15em;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img.avatar {
  border-radius: 5px;
  width: 25%;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: flex;
  justify-content: center;

  padding: 0 1em;
  margin-bottom: 0.5rem;

  display: inline-block;

  text-decoration: none;

  width: 100%;
  line-height: 40px;

  cursor: pointer;

  overflow: hidden; /* Oculta el contenido que excede el contenedor */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */

  color: var(--button-color);
  background-color: var(--button-bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

  transition: transform 300ms ease;
}

.button:hover,
.button:focus {
  transform: scale(1.025);
}

.icon {
  padding: 0px 8px 2px 0px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

/* Toggle Mode
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.theme-toggle-label {
  margin: 0 1em;
  display: inline-block;
  cursor: pointer;
}

#theme-toggle {
  display: none;
}

.theme-toggle-label {
  width: 2rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  background-color: grey; /* Color de fondo del toggle */
  /* transition: background-color 0.3s; */
}

.theme-toggle-label:after {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: top;
  background-color: #fff; /* Color del punto */
  /* margin: 3px; */
  transition: transform 0.3s;

  --bg-primary: var(--light-bg-primary);
  --bg-secondary: var(--light-bg-secondary);
  color: var(--light-color);
  --button-color: var(--light-button-color);
  --button-bg: var(--light-button-bg);
}

#theme-toggle:checked + .theme-toggle-label:after {
  transform: translateX(1rem); /* Mover el punto cuando el toggle está activo */
  background-color: #000;

  * {
    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);
    color: var(--dark-color);
    --button-color: var(--dark-button-color);
    --button-bg: var(--dark-button-bg);
  }
}
