*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  --light-bg-primary: #e9e7f8;
  --light-bg-secondary: #c4c2d1;
  --light-button-bg: #e9e7f8;
  --light-color: color-mix(in lch, darkslategray, black);

  --dark-bg-primary: #131313;
  --dark-bg-secondary: #161616;
  --dark-button-bg: #161616;
  --dark-color: azure;
}

@media (prefers-color-scheme: dark) {
  * {
    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);
    --button-bg: var(--dark-button-bg);
    --button-focus-bright: 120%;
    --button-shadow-primary: #101010;
    --button-shadow-secondary: #1c1c1c;
    color: var(--dark-color);
  }
}

@media (prefers-color-scheme: light) {
  * {
    --bg-primary: var(--light-bg-primary);
    --bg-secondary: var(--light-bg-secondary);
    --button-bg: var(--light-button-bg);
    --button-focus-bright: 105%;
    color: var(--light-color);
    --button-shadow-primary: #b9b8c5;
    --button-shadow-secondary: #e2e0e8;
  }
  .icon {
    filter: invert(0.9);
  }
}

html {
  background: linear-gradient(180deg, var(--bg-primary), var(--bg-secondary));
  background-size: contain;
  min-height: 100vh;
}

body {
  line-height: 1.5;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

section {
  margin-top: 1em;
}

p {
  margin-top: 1em 0;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 0 50px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  font-weight: 800;
  font-size: 1.2rem;
}

h3 {
  margin-bottom: 0.5em;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img.avatar {
  border-radius: 5px;
  width: 25%;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: flex;
  justify-content: center;

  padding: 0 1em;
  margin-bottom: 0.5rem;

  display: inline-block;

  text-decoration: none;

  width: 100%;
  line-height: 40px;

  border-radius: 6px;
  cursor: pointer;

  overflow: hidden; /* Oculta el contenido que excede el contenedor */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */

  background-color: var(--button-bg);
}

.button.mini-button {
  width: auto;
  line-height: 1.5;
  vertical-align: text-bottom;
  /* background-color: slategray; */
  padding: 0 0.5em;
  margin: 0 0.2em;
}

.button:hover,
.button:focus {
  filter: brightness(var(--button-focus-bright));
}

.button {
  /* https://neumorphism.io/ */
  box-shadow: 3px 3px 5px var(--button-shadow-primary),
    -3px -3px 5px var(--button-shadow-secondary);
}
.button:checked,
.button:active {
  box-shadow: inset 3px 3px 5px var(--button-shadow-primary),
    inset -3px -3px 5px var(--button-shadow-secondary);
}

.icon {
  padding: 0px 8px 2px 0px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
