*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  --light-bg-primary: #ffffff;
  --light-bg-secondary: #eeeeee;
  --light-button-bg: #edf0f4;
  --light-color: color-mix(in lch, darkslategray, black);

  /* 202020 */
  --dark-bg-primary: #181824;
  --dark-bg-secondary: #111111;
  --dark-button-bg: #080808;
  --dark-color: azure;
}

@media (prefers-color-scheme: dark) {
  * {
    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);

    --button-bg: var(--dark-button-bg);

    color: var(--dark-color);
  }
}

@media (prefers-color-scheme: light) {
  * {
    --bg-primary: var(--light-bg-primary);
    --bg-secondary: var(--light-bg-secondary);

    --button-bg: var(--light-button-bg);

    --button-focus-bright: 105%;

    color: var(--light-color);
  }
  .icon {
    filter: invert(0.9);
  }
}



html {
  background: linear-gradient(180deg, var(--bg-primary), var(--bg-secondary));
  background-size: contain;
  min-height: 100vh;
}

body {
  font-family: "Segoe UI", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

section {
  margin-top: 1em;
}

p {
  margin-top: 1em 0;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  width: 100%;
  max-width: 600px;
  margin: 4rem auto;
  padding: 0 50px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h2 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

/* Avatar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img.avatar {
  border-radius: 5px;
  width: 25%;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {

  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: left; /* Centra horizontalmente */
  gap: .8rem; /* Espacio entre el icono y el texto */
  padding: 0 1.2rem;
  margin-bottom: 0.5rem;

  text-decoration: none;

  line-height: 45px;

  border-radius: 40px;
  cursor: pointer;

  overflow: hidden; /* Oculta el contenido que excede el contenedor */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */

  background-color: var(--button-bg);
}


.button:hover,
.button:focus {
  filter: brightness(var(--button-focus-bright));
  background-color: var(--bg-primary);
}

.icon {
  width: 20px;
  height: 25px;
  flex-shrink: 0; /* Evita que el icono se achique */
  display: block; /* Asegura que no tenga espacios extra */
}
